{
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "Mattact.buildElement", // default pragma is React.createElement
        "throwIfNamespace": false // defaults to true
      }
    ]
  ]
}